{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- iziToast css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block styles %}{% endblock styles %}
    <title>Admin Panel</title>
    <style>
        main > .container {
            padding: 60px 15px 0;
        }

        /* ============ desktop view header navbar============ */
        @media all and (min-width: 992px) {

          .dropdown-menu li{
            position: relative;
          }
          .dropdown-menu .submenu{ 
            display: none;
            position: absolute;
            left:100%; top:-7px;
          }
          .dropdown-menu .submenu-left{ 
            right:100%; left:auto;
          }

          .dropdown-menu > li:hover{ background-color: #f1f1f1 }
          .dropdown-menu > li:hover > .submenu{
            display: block;
          }
        }	
        /* ============ desktop view .end header navbar// ============ */

        /* ============ small devices header navbar============ */
        @media (max-width: 991px) {

        .dropdown-menu .dropdown-menu{
            margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
        }

        }	
        /* ============ small devices .end header navbar// ============ */

        /* Loader */
        .loaderContainer {
          position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            /* z-index: 10; */
            /* background:red; */
        }

        a, .nav-item, .nav-link{
          cursor: pointer;
        }
  
    </style>
  </head>
  <body class="d-flex flex-column h-100">

    <!-- loader -->
      <div class="text-center loaderContainer" id="loader">
        <div class="d-flex justify-content-center align-middle">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>


    <header>
        <!-- ============= COMPONENT ============== -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">DjangoCMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="headeer-nav">
          
        
          <ul class="navbar-nav" id="header-navbar-ul">
            <!-- <li class="nav-item active"> <a class="nav-link" href="#"> Home </a> </li>
            <li class="nav-item"><a class="nav-link" href="#"> About </a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Treeview menu  </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                      <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                        <li><a class="dropdown-item" href="#">Multi level 2</a></li>
                    </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
                    <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
                </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  More items  </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu item 3</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#"> Dropdown item 3 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
                    <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
                    <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
                    <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#"> Dropdown item 4 &raquo;</a>
                    <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
                    <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
                    <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
                    <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
                <li><a class="dropdown-item" href="#"> Dropdown item 6 </a></li>
                </ul>
            </li> -->
          </ul>
        
          </div> <!-- navbar-collapse.// -->
          </div> <!-- container-fluid.// -->
        </nav>
        
        <!-- ============= COMPONENT END// ============== -->
        
    </header>
      
      <!-- Begin page content -->
      <main class="flex-shrink-0">
        <div class="container" id="page-content">
          {% block content %}
            <h2>Select a link to go to the page</h2>
          {% endblock content %}
          
        </div>
      </main>

      
      <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row" id="footer-div-row">
          <!-- Grid column -->
          {% comment %} <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div> {% endcomment %}
          <!-- Grid column -->

          {% comment %} <hr class="w-100 clearfix d-md-none" /> {% endcomment %}

          <!-- Grid column -->
          <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a class="text-white">MDBootstrap</a>
            </p>
            <p>
              <a class="text-white">MDWordPress</a>
            </p>
            <p>
              <a class="text-white">BrandFlow</a>
            </p>
            <p>
              <a class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" /> -->
          

      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2023 Copyright:
              <a class="text-white" href="{% url 'user-index' %}"
                 >DjangoCMS</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          {% comment %} <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div> {% endcomment %}
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
    

    <!--My Constants-->
    <script type="text/javascript" src="{% static 'app_frontend_admin/js/constants.js' %}"></script>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- Jquery UI -->
    <script
      src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
      integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
      crossorigin="anonymous"
    ></script>
    <!--SweetALert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--izitoast-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    <script>
      iziToast.settings({
        timeout: 3000, // default timeout
        resetOnHover: true,
        // icon: '', // icon class
        transitionIn: 'flipInX',
        transitionOut: 'flipOutX',
        position: 'bottomRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
        onOpen: function () {
          console.log('callback onOpen!');
        },
        onClose: function () {
          console.log("callback onClose!");
        }
      });

      function showToast(type, message, icon=null, title=null, timeout=null){
        if(type==="success"){
          if(icon === null){
            icon = "bi bi-check-l";
          }
          if(title === null){
            title = "OK";
          }
          if(timeout === null){
            timeout = 1500;
          }
          iziToast.success({
              timeout: 1500, 
              icon: "bi bi-arrow-up-right-circle-fill", 
              title: title, 
              message: message
          });
        }

        else if(type==="error"){
          if(icon === null){
            icon = "bi bi-exclamation-octagon-fill";
          }
          if(title === null){
            title = "Error";
          }
          if(timeout === null){
            timeout = 2000;
          }
          iziToast.error({
              timeout: 2000, 
              icon: "bi bi-exclamation-octagon-fill", 
              title: title, 
              message: message
          });
        }
      }

      function showErrorMessage(fieldName, errorMessageArray){
        var errorPara = document.createElement("p");
        errorPara.classList.add("error");
        errorPara.setAttribute("id", fieldName+"Errors");
        errorPara.style.color = "red";
        errorPara.style.fontSize = "16px";
    
        for(let i=0; i< errorMessageArray.length; i++){
            errorPara.innerHTML = errorPara.innerHTML + "<br>" + errorMessageArray[i];
        }
    
        var field = document.getElementsByName(fieldName)[0];
        field.parentNode.insertBefore(errorPara, field.nextSibling);
      }
    
    
      function removeErrorParas(){
        let errorPara = document.querySelectorAll('.error');
        errorPara.forEach(element => {
         element.remove();
        });
        }
    
    
        function handleBackendErrors(object){
            // console.error("HANDLING BACKEND ERRORS");
            // console.error(object);
    
            for (const [key, value] of Object.entries(object)) {
                // console.log(key, value);
                showErrorMessage(key, value);
            }
        }
    </script>

    <script type="text/javascript" src="{% static 'app_frontend/js/base.js' %}"></script>
    {% block scripts %}{% endblock scripts %}

   
    
  </body>
</html>
