{% extends 'app_frontend_admin/admin_base.html' %}
{% load static %}

{% block linktypeclass %}active{% endblock linktypeclass %}


{% block content %}

<div class="row">
  <div class="col-9"><h3>Link Type Form</h3></div>
<div class="col-3 d-flex flex-row-reverse"><a class="btn btn-primary" href="{% url 'linktype-list' %}">Link Type List</a></div>
</div>
<hr>

  <form id="edit_link_type_form">
    {% comment %} {% csrf_token %} {% endcomment %}
    <div class="mb-3">
      <!--linkType-->
      <label for="exampleInputEmail1" class="form-label"> Link Type</label>
      <input name="linkType" type="text" class="form-control edit-link-type-form-field" id="linkTypeInputField" aria-describedby="typeHelp">
      {% comment %} <div id="linkTypeError" class="form-text"></div> {% endcomment %}
    </div>
   
    <button type="submit" class="btn btn-primary" id="update-btn" disabled>Update</button>
  </form>
  
  

{% endblock content %}


{% block scripts %}
  <script src="{% static 'app_frontend_admin/js/edit_link_type_form.js' %}"></script>
{% endblock scripts %}