{% extends 'app_dj_frontend_admin/base_admin.html' %}
{% load static %}

{% block linktypeclass %}active{% endblock linktypeclass %}


{% block content %}

<form action="{% url 'dj-link-type-add' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

{% endblock content %}

{% block scripts %}
  {% comment %} <script src="{% static 'app_frontend_admin/js/list_link_type.js' %}"></script> {% endcomment %}
{% endblock scripts %}